<%- include('partials/header') %>
<div class="container info">

    <h1>Coronavirus Live Cases</h1>
    <p class="text-muted info_sajjan">Dev: Sajjan Karn</p>
    <p class="text-muted info_sajjan">Contact Number: +977 9812240832</p>
    <p class="text-muted info_sajjan">Follow Me On: </p>

    <a href="https://www.facebook.com/sajjan.karn.378/" target="_blank" class="btn btn-raised fb"><i
            class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/sajjan_404/" target="_blank" class="btn btn-raised insta"><i
            class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://twitter.com/karn_sajjan" target="_blank" class="btn btn-raised tweet"><i class="fa fa-twitter"
            aria-hidden="true"></i></a>

    <br>
    <div class="images_vr mt-3">
        <p class="text-muted">Click On The Image To See Virtualization</p>
        <a href="/visualization">
            <img src="https://cnet4.cbsistatic.com/img/j-KiAPtv6R_fyA_0715-Kg8YnmU=/940x0/2020/04/03/07c8bb49-4ec5-480b-a977-1614f2484881/john-hopkins-map-april-3-2020.png"
                alt="virtualization" class="img-fluid px-5">
        </a>
    </div>

</div>
<div class="container_custom">
    <div class="table_responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Total Cases</th>
                    <th scope="col">Total Recovered</th>
                    <th scope="col">Total Deaths</th>
                    <th scope="col">Total New Cases Today</th>
                    <th scope="col">Total New Deaths Today</th>
                    <th scope="col">Total Active Cases</th>
                    <th scope="col">Total Serious Cases</th>
                </tr>

            </thead>
            <tbody>
                <% for (i = 1; i <= 182; i++) { %>
                <tr>
                    <th scope="row"> <%= FinalItem[`${i}`].ourid %> </th>
                    <td><%= FinalItem[`${i}`].title %>
                    </td>
                    <td><%= FinalItem[`${i}`].total_cases %></td>
                    <td><%= FinalItem[`${i}`].total_recovered %></td>
                    <td><%= FinalItem[`${i}`].total_deaths %></td>
                    <td><%= FinalItem[`${i}`].total_new_cases_today %></td>
                    <td><%= FinalItem[`${i}`].total_new_deaths_today %></td>
                    <td><%= FinalItem[`${i}`].total_active_cases %></td>
                    <td><%= FinalItem[`${i}`].total_serious_cases %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>


<%- include('partials/footer') %>